input, textarea {
    color: var(--bg-strongest);
}

form {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: white;
}

form input {
    height: 56px;
    text-indent: 23px;
    paddign: 10px 23px;
    border: none;
    font-size: inherit;
    background-color: var(--bg-medium);
    margin-bottom: 20px;
    min-width: 550px;
}

textarea {
    padding: 10px 23px;
    height: 200px;
    border: none;
    background-color: var(--bg-medium);
    font-size: inherit;
    min-width: 550px;
}

.custom-button {
    padding: 10px 100px;
    border-radius: 100px;
    background-color: var(--btn-bg-primary);
    color: white;
}
