---

import BaseHead from "../components/BaseHead.astro";
import {SITE_TITLE} from "../consts";
import Header from "../components/Header.astro";
import LoginForm from "../components/LoginForm";

// const login = () => Astro.cookies.set("login", "true");
---

<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} />
</head>
<body>
    <Header title={SITE_TITLE} />
    <main>
        <section>
            <img alt="login image" class="login-img" src="/assets/login-image.png">
            <LoginForm client:only="react" />

        </section>
    </main>
</body>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


   .login-img {
       width: auto;
       height: 294px;
       margin-bottom: 50px;
   }
</style>
</html>
